#nav{
background-color: rgb(24, 27, 27);;
color: rgb(143, 235, 238);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color:white
}