


html,body{
    background-image: url('https://cdn.pixabay.com/photo/2018/03/04/21/43/background-3199325_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }

    thead{
    background-color: rgb(3, 39, 68);
    color: rgb(120, 180, 182);
}


p{
    color: rgb(154, 210, 214);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    zoom: 2;
    text-align: center;
}